<!DOCTYPE html>

<head>
    <title>read?.(today)</title>
    <meta name="description" content="Track daily tasks with this single-action app" />


    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">  
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>


<body>
    <div id="dongle" class="silly out-of-reach"></div>
    <div id="sidebar-leaderboard" class="sidebar out-of-reach">
        <b>currently going:</b> 
        <br>
        <span id="sidebar-leaderboard-ongoing">couldn't load ;(</span>
        <br> 
        <b>all time:</b> 
        <br>
        <span id="sidebar-leaderboard-overall">couldn't load ;(</span>
    </div>
    <div id="sidebar-about" class="sidebar out-of-reach">
        This application is used for tracking whether you have done { an activity } each day. <br>
        Currently only one activity is supported. <br>
        You can click the button once per day, <br>
        the app will keep track of how many consecutive days you clicked the button. <br>
        That's it. 
        <br>
        made by <a href="https://whois.rogu.rocks">rokas g</a><br>
    </div>
    <div id="sidebar-api" class="sidebar out-of-reach">
        This section will be expanded. <br>
        You can use the tracker directly via API. <br>
        To get current streak, you do not need any
        authentication: <br>
        <div class="codeblock">
            curl \ <br>
              --request GET \ <br> 
              --url <span class="codetext">'{{ api_url }}/today?user=<span class="username codetextalt">{{ username }}</span>'</span> <br>
        </div>
        To mark current day as complete, you need to pass login <br>
        details to the request:
        <div class="codeblock">
            curl \ <br> 
            --request POST \ <br>
            --url <span class="codetext">'{{ api_url }}/mark'</span> \ <br>
            --header <span class="codetext">'Content-Type: application/json'</span> \ <br>
            --data <span class="codetext">'{ <br>
	            "user": "<span class="username codetextalt">{{ username }}</span>", <br>
	            "pass": "<span class="codetextalt">%your password%</span>" <br>
            }' <br> </span>
        </div>
    </div>

    <div class="container">
        <div style="width: 100vw;">
            <div style="margin-right: 1rem; float: right;"><span class="username">{{ username }}</span> | <a id="logout">logout</a></div>
            <div style="margin-left: 1rem; float: left;">
                <span>
                <a id="showAbout"><b>? </b></a>
                | 
                <a id="showLeaderboard">leaderboard</a>
                | 
                <a id="showApi">API</a>
                </span>
            </div>
            
        </div>
        <div id="main-stuff" class="item">
            <div class="streak">
                <div class="fyah hidden">🔥</div><span> STREAK</span><div class="fyah hidden">🔥</div>
                <div class="streak-number" id="streak">{{ streak }}</div>       
                <br>
            </div>

            <div id="mark-container">
                <div id="mark-advanced-container">

                    <div>
                        <button class="main-button main-button-active" id="markButton" type="button">📚</button>
                        <div id="advanced-button" class="advanced-button"><a>advanced</a></div>
                    </div>

                    <div id="advanced-options" class="no-width">

                        <!-- https://www.w3schools.com/howto/howto_js_autocomplete.asp -->
                        <div class="advanced-field-thingy advanced-oneline-form">
                            <div class="advanced-author"><input id="today-author" placeholder="author" type="text" ></div>
                            <div class="advanced-title"><input id="today-title" placeholder="title"  type="text" ></div>
                        </div>

                        <div class="advanced-field-thingy textform-flex">
                            <textarea id="today-notes" placeholder="    notes" class="flex-full" maxlength="600"></textarea>
                        </div>

                        <br>

                        <div id="advanced-blurb" class="blurb faded-blurb no-display">
                            all fields optional and independent from each other
                            <br>
                            notes get saved and reset daily, book info persists
                            <br>
                            after clicking button, further changes autosave
                        </div>

                    </div>

                </div>
                
            </div>
            <div id="history-container">
                <div id="history-display"></div>
            </div>
        </div>
    </div>
</body>


<script>

    const reading_history = {{ history | safe }}.history

</script>

<script>
        
        const baseApiUrl = "{{ api_url }}"
        const baseUrl = "{{ route_url }}"

        let token = "{{ api_token }}"
        let user = "{{ username }}"

        let count = parseInt("{{ streak }}")
        let markedToday = "{{ today }}" === "True"

        const initNotes = "{{ note }}"
        const initTitle = "{{ title }}"
        const initAuthor = "{{ author }}"

        function logout() {
            window.location.replace("/logout");    
        }

        // if (!token) {
        //     window.location.replace("/login");
        // }

        let leaderboardVisible = false
        let aboutVisible = false
        let apiVisible = false

        

        function getDongle() {
            return document.getElementById('dongle')
        }

        function switchSidebarMode(mode) {
            toggleRemaining(mode)
            const dongle = getDongle()
            document.getElementById(`sidebar-${mode}`).classList.toggle("out-of-reach")
            dongle.classList.toggle("out-of-reach")
            dongle.classList.toggle(`dongle-${mode}`)
        }

        function toggleRemaining(mode) {
            if (mode !== "leaderboard") {
                if (leaderboardVisible) leaderboard()
            }
            if (mode !== "about") {
                if (aboutVisible) showAbout()
            }
            if (mode !== "api") {
                if (apiVisible) showApi()
            }
        }


        function showAbout() {
            switchSidebarMode("about")
            aboutVisible = !aboutVisible
        }
        
        function leaderboard() {
            switchSidebarMode("leaderboard")
            leaderboardVisible = !leaderboardVisible
        }

        function showApi() {
            switchSidebarMode("api")
            apiVisible = !apiVisible
        }

        function hideAllSidebars() {
            if (aboutVisible) showAbout()
            if (leaderboardVisible) leaderboard()
            if (apiVisible) showApi()
        }

        function api_request(endpoint, method, body=undefined) {
            return fetch(`${baseApiUrl}/${endpoint}`,  {
                headers: {
                    'Authorization' : `Bearer ${token}`,
                    'Content-Type' : 'application/json'
                },
                method: method,
                body: body ? JSON.stringify(body) : undefined,
                mode: 'cors',})
        }

        function get_leaderboard() {
            api_request("leaderboard?type=all", 'GET').then((r) => {
                    if (r.ok) {
                        r.json().then((j) => {

                            const toplist_ongoing = format_leaderboard(j["leaderboard_ongoing"])
                            const toplist_overall = format_leaderboard(j["leaderboard_overall"])


                            document.getElementById("sidebar-leaderboard-ongoing").innerHTML = toplist_ongoing
                            document.getElementById("sidebar-leaderboard-overall").innerHTML = toplist_overall
                        })
                    }
                })
        }

        function format_leaderboard(entries) {
            return entries.map((e) => {
                let topUser
                if (e.user === user) {
                    topUser = `<b class="leaderboard-you">${e.user}</b>`
                } else {
                    topUser = e.user
                }
                return `${e.rank}. ${topUser} (x${e.streak}) <br>`
            }).join("")
        }
        
        function get_streak() {
            const streak = parseInt("{{ streak }}")

            document.getElementById("today-author").value = initAuthor
            document.getElementById("today-title").value = initTitle
            document.getElementById("today-notes").value = initNotes

            const button = document.getElementById("markButton")

            if (markedToday) {
                button.disabled = false
                button.classList.toggle('main-button-active')
                button.classList.toggle('main-button-marked')
            }

            if (streak > 7) {
                document.querySelectorAll('.fyah').forEach((e) => {
                   e.classList.toggle('hidden')
                })
            }
        }

        Date.prototype.addDay = function() {
            var date = new Date(this.valueOf());
            date.setDate(date.getDate() + 1);
            return date;
        }

        function display_history() {

            const days = reading_history

            const dayObjs = days.map((e) => {
                    const d = e.day.split('-')
                    return new Date(d[2],parseInt(d[1])-1,d[0])
                }).sort((a,b) => {
                    return a-b
                }).reverse()

                let currDate = dayObjs[dayObjs.length-1]

                while(dayObjs.length > 0) {
                    const d = document.createElement('div')
                    d.classList.add('circle')
                    if (dayObjs[dayObjs.length-1].getTime() === currDate.getTime()) {
                        d.classList.add('did-read')
                        const x = dayObjs.pop()
                    } else {
                        d.classList.add('did-not-read')
                    }
                    currDate = currDate.addDay()
                    document.getElementById('history-display').appendChild(d)
                }   
        }

        let gettingStreak = false

        function get_advanced_fields() {
            const res = {
                author: document.getElementById("today-author").value,
                title: document.getElementById("today-title").value,
                notes: document.getElementById("today-notes").value,
            }
            api_request("mark-with-token", 'POST', res).then((res) => {
                console.log("today status updated")
            })
        }



        function mark_today() {

            // accounts for double clicks
            if (gettingStreak) return

            gettingStreak = true

            api_request("mark-with-token", 'POST').then((response) => {
            if (response.ok) {
                response.text().then((txt) => {
                    const button = document.getElementById("markButton")
                    button.disabled = true
                    document.getElementById("streak").innerText = count + 1
                    button.classList.toggle('main-button-active')
                    button.classList.toggle('main-button-marked')
                    markedToday = true
                })
            } else {
                document.getElementById("streak").innerText = -1
            }
            }).then(() => {
                gettingStreak = false
            }).catch((e) => console.log("error", e));

        }

        let advanced_toggled = false

        function toggle_advanced() {
            
            const advanced_options = document.getElementById("advanced-options")

            setTimeout(() => advanced_options.classList.toggle("invisible"), advanced_toggled ? 1000 : 0);
            setTimeout(() => advanced_options.classList.toggle("full-width"), advanced_toggled ? 0 : 0);
            setTimeout(() => advanced_options.classList.toggle("no-width"), advanced_toggled ? 0 : 0);
            setTimeout(() => document.getElementById("mark-advanced-container").classList.toggle("gapped"), advanced_toggled ? 500 : 0);
            
            // fade
            setTimeout(() => document.querySelectorAll(".advanced-field-thingy").forEach((e) => {
                e.classList.toggle("advanced-field-thingy-toggled")
            }), advanced_toggled ? 0 : 500)

            setTimeout(() => document.getElementById("advanced-blurb").classList.toggle("no-display"), advanced_toggled ? 0 : 500)
            setTimeout(() => document.getElementById("advanced-blurb").classList.toggle("faded-blurb"), advanced_toggled ? 0 : 1000)

            advanced_toggled = !advanced_toggled

            if (advanced_toggled) {
                document.getElementById("advanced-button").innerHTML = "<a>simple</a>"
            } else {
                document.getElementById("advanced-button").innerHTML = "<a>advanced</a>"
            }
        }

        document.getElementById("main-stuff").addEventListener("click", () => {
            hideAllSidebars()
        })

        document.getElementById("showApi").addEventListener("click", () => {
            showApi()
        })

        document.getElementById("showAbout").addEventListener("click", () => {
            showAbout()
        })

        document.getElementById("showLeaderboard").addEventListener("click", () => {
            leaderboard()
        })

        document.getElementById("markButton").addEventListener("click", () => {
            mark_today()
        })

        document.getElementById("logout").addEventListener("click", () => {
            logout()
        })


        /* ADVANCED FIELDS */

        document.getElementById("advanced-button").addEventListener("click", () => {
            toggle_advanced()
        })

        document.getElementById("today-author").addEventListener("change", () => {
            get_advanced_fields()
        })

        document.getElementById("today-title").addEventListener("change", () => {
            get_advanced_fields()
        })

        document.getElementById("today-notes").addEventListener("change", () => {
            get_advanced_fields()
        })

        get_streak()
        get_leaderboard()
        display_history()
        
</script>
</html>
