<!DOCTYPE html>

<head>
    <title>read?.(today)</title>
    <meta name="description" content="Track daily tasks with this single-action app" />


    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">  
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>


<body>
    <div id="dongle" class="silly out-of-reach"></div>
    <div id="sidebar-leaderboard" class="sidebar out-of-reach">
        <b>currently going:</b> 
        <br>
        <span id="sidebar-leaderboard-ongoing">couldn't load ;(</span>
        <br> 
        <b>all time:</b> 
        <br>
        <span id="sidebar-leaderboard-overall">couldn't load ;(</span>
    </div>
    <div id="sidebar-about" class="sidebar out-of-reach">
        This application is used for tracking whether you have done { an activity } each day. <br>
        Currently only one activity is supported. <br>
        You can click the button once per day, <br>
        the app will keep track of how many consecutive days you clicked the button. <br>
        That's it. 
        <br>
        made by <a href="https://whois.rogu.rocks">rokas g</a><br>
    </div>
    <div id="sidebar-api" class="sidebar out-of-reach">
        This section will be expanded. <br>
        You can use the tracker directly via API. <br>
        To get current streak, you do not need any
        authentication: <br>
        <div class="codeblock">
            curl \ <br>
              --request GET \ <br> 
              --url <span class="codetext">'{{ api_url }}/today?user=<span class="username codetextalt"></span>'</span> <br>
        </div>
        To mark current day as complete, you need to pass login <br>
        details to the request:
        <div class="codeblock">
            curl \ <br> 
            --request POST \ <br>
            --url <span class="codetext">'{{ api_url }}/mark'</span> \ <br>
            --header <span class="codetext">'Content-Type: application/json'</span> \ <br>
            --data <span class="codetext">'{ <br>
	            "user": "<span class="username codetextalt"></span>", <br>
	            "pass": "<span class="codetextalt">%your password%</span>" <br>
            }' <br> </span>
        </div>
    </div>

    <div class="container">
        <div style="width: 98vw;">
            <div style="float: right;"><span class="username">username loading</span> | <a id="logout">logout</a></div>
            <div style="margin-left: 3px; float: left;">
                <span>
                <a id="showAbout"><b>? </b></a>
                | 
                <a id="showLeaderboard">leaderboard</a>
                | 
                <a id="showApi">API</a>
                </span>
            </div>
            
        </div>
        <div id="main-stuff" class="item">
            <div class="streak">
                <div class="fyah hidden">🔥</div><span> STREAK </span><div class="fyah hidden">🔥</div>
                <div class="streak-number" id="streak">???</div>       
                <br>
            </div>
            <div><button class="main-button main-button-active" id="markButton" type="button">📚</button></div>
            <br>
            <span id="until-text"></span><span id="demo"></span>
            <div id="history-container">
                <div id="history-display"></div>
            </div>
            <div class="selector">
                <div>
                    <b>Coming Soon</b>
                </div>
                <div>
                    Select Activity
                </div>
                <div class="comingsoon">
                    <span><</span>
                    <span class="unselected">🎸</span>
                    <span class="selected">📚</span>
                    <span class="unselected">🥗</span>
                    <span>></span>
                </div>
            </div>
        </div>
    </div>
</body>

<script>
        
        const baseUrl = "{{ api_url }}"

        let token = localStorage.getItem('readertoken');
        let user  = localStorage.getItem('readeruser');
        document.querySelectorAll('.username').forEach((e) => {
            e.innerText = user;
        })

        let clickedToday = false 
        let count = 0

        const remember = localStorage.getItem('remember');
        if (!remember) {
            sessionStorage.setItem('readertoken', token);
            sessionStorage.setItem('readeruser', user);

            localStorage.removeItem('readertoken');
            localStorage.removeItem('readeruser');
            localStorage.removeItem('remember');
        }

        function logout() {
            fetch(`${baseUrl}/logout?user=${user}`,  {
            headers: {
                'Authorization' : 'Bearer ' + token
            },
            method: 'GET',
            mode: 'cors',
            }).then((response) => {console.log("logged out")})
            localStorage.removeItem('readertoken');
            localStorage.removeItem('readeruser');

            sessionStorage.removeItem('readertoken');
            sessionStorage.removeItem('readeruser');

            window.location.replace("/");
        }

        if (!token) {
            window.location.replace("/login");
        }

        let leaderboardVisible = false
        let aboutVisible = false
        let apiVisible = false


        function showAbout() {
            if (leaderboardVisible) leaderboard()
            if (apiVisible) showApi()
            aboutVisible = !aboutVisible
            document.getElementById('sidebar-about').classList.toggle("out-of-reach")
            document.getElementById('dongle').classList.toggle("out-of-reach")
            document.getElementById('dongle').classList.toggle("dongle-about")
        }
        
        function leaderboard() {
            if (aboutVisible) showAbout()
            if (apiVisible) showApi()
            leaderboardVisible = !leaderboardVisible
            document.getElementById('sidebar-leaderboard').classList.toggle("out-of-reach")
            document.getElementById('dongle').classList.toggle("out-of-reach")
            document.getElementById('dongle').classList.toggle("dongle-leaderboard")
        }

        function showApi() {
            if (aboutVisible) showAbout()
            if (leaderboardVisible) leaderboard()
            apiVisible = !apiVisible
            document.getElementById('sidebar-api').classList.toggle("out-of-reach")
            document.getElementById('dongle').classList.toggle("out-of-reach")
            document.getElementById('dongle').classList.toggle("dongle-api")
        }

        function hideAllSidebars() {
            if (aboutVisible) showAbout()
            if (leaderboardVisible) leaderboard()
            if (apiVisible) showApi()
        }

        function get_leaderboard() {
            fetch(`${baseUrl}/leaderboard?type=all`,  {
                headers: {
                    'Authorization' : 'Bearer ' + token
                },
                method: 'GET',
                mode: 'cors',}).then((r) => {
                    if (r.ok) {
                        r.json().then((j) => {

                            const toplist_ongoing = format_leaderboard(j["leaderboard_ongoing"])
                            const toplist_overall = format_leaderboard(j["leaderboard_overall"])


                            document.getElementById("sidebar-leaderboard-ongoing").innerHTML = toplist_ongoing
                            document.getElementById("sidebar-leaderboard-overall").innerHTML = toplist_overall
                        })
                    }
                })
        }

        function format_leaderboard(entries) {
            return entries.map((e) => {
                let topUser
                if (e.user === user) {
                    topUser = `<b class="leaderboard-you">${e.user}</b>`
                } else {
                    topUser = e.user
                }
                return `${e.rank}. ${topUser} (x${e.streak}) <br>`
            }).join("")
        }
        
        function get_streak() {

            fetch(`${baseUrl}/today/verbose?user=${user}`,  {
            headers: {
                'Authorization' : 'Bearer ' + token
            },
            method: 'GET',
            mode: 'cors',
            }).then((response) => {
            if (response.ok) {
                response.json().then((res) => {
                    count = res['streak']
                    document.getElementById("streak").innerText = count
                    const button = document.getElementById("markButton")
                    const disabled = (res['today'])

                    if (count > 7) {
                        document.querySelectorAll('.fyah').forEach((e) => {
                            e.classList.toggle('hidden')
                        })
                    }
                    

                    if (disabled) {
                        button.disabled = disabled
                        button.classList.toggle('main-button-active')
                        button.classList.toggle('main-button-marked')

                        clickedToday = true

                        document.getElementById("until-text").innerText = "Time until next check: "
                    }
                    
                })
            } else {
                document.getElementById("streak").innerText = -1
            }
            }).catch((e) => console.log("error", e));
        }

        Date.prototype.addDay = function() {
            var date = new Date(this.valueOf());
            date.setDate(date.getDate() + 1);
            return date;
        }

        function display_history() {

            fetch(`${baseUrl}/history?user=${user}`,  {
            headers: {
                'Authorization' : 'Bearer ' + token
            },
            method: 'GET',
            mode: 'cors',
            }).then((response) => {
            if (response.ok) {
                response.json().then((res) => {
                    const days = res.history
                    console.log(res)
            
                const dayObjs = days.map((e) => {
                    const d = e.day.split('-')
                    return new Date(d[2],parseInt(d[1])-1,d[0])
                }).sort((a,b) => {
                    return a-b
                }).reverse()

                let currDate = dayObjs[dayObjs.length-1]

                while(dayObjs.length > 0) {
                    const d = document.createElement('div')
                    d.classList.add('circle')
                    if (dayObjs[dayObjs.length-1].getTime() === currDate.getTime()) {
                        d.classList.add('did-read')
                        const x = dayObjs.pop()
                    } else {
                        d.classList.add('did-not-read')
                    }
                    currDate = currDate.addDay()
                    document.getElementById('history-display').appendChild(d)
                }
                    })
            } else {
                document.getElementById('history-display').innerHTML = "failed to load history :("
            }
            }).catch((e) => console.log("error", e))
            
        }

        let gettingStreak = false
        function mark_today() {

            if (gettingStreak) {
                console.log("fuck outta here with that double click")
                return
            }

            gettingStreak = true

            fetch(`${baseUrl}/mark-with-token`,  {
            headers: {
                'Authorization' : 'Bearer ' + token
            },
            method: 'POST',
            mode: 'cors',
            }).then((response) => {
            if (response.ok) {
                response.text().then((txt) => {
                    const button = document.getElementById("markButton")
                    button.disabled = true
                    document.getElementById("streak").innerText = count + 1
                    button.classList.toggle('main-button-active')
                    button.classList.toggle('main-button-marked')
                })
            } else {
                document.getElementById("streak").innerText = -1
            }
            }).then(() => {
                gettingStreak = false
            }).catch((e) => console.log("error", e));

        }

        get_streak()
        get_leaderboard()
        display_history()

        document.getElementById("main-stuff").addEventListener("click", () => {
            hideAllSidebars()
        })

        document.getElementById("showApi").addEventListener("click", () => {
            showApi()
        })

        document.getElementById("showAbout").addEventListener("click", () => {
            showAbout()
        })

        document.getElementById("showLeaderboard").addEventListener("click", () => {
            leaderboard()
        })

        document.getElementById("markButton").addEventListener("click", () => {
            mark_today()
        })

        document.getElementById("logout").addEventListener("click", () => {
            logout()
        })


        // Set the date we're counting down to
const today = new Date();
let tomorrow = today.setDate(today.getDate() + 1)
tomorrow = new Date(`${today.getFullYear()}-${today.getMonth()+1}-${today.getDate()}`)

let countDownDate = tomorrow.getTime()
// Update the count down every 1 second
let x = setInterval(function() {

  // Get today's date and time
  let now = new Date().getTime();

  // Find the distance between now and the count down date
  let distance = countDownDate - now;

  // Time calculations for days, hours, minutes and seconds
  let hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
  let minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  let seconds = Math.floor((distance % (1000 * 60)) / 1000);

  // Display the result in the element with id="demo"
  if (clickedToday) {
    document.getElementById("demo").innerHTML = hours + ":" + minutes  + ":" + seconds;
    document.getElementById("demo").innerHTML = `${hours}:${minutes >= 10 ? minutes : '0' + minutes}:${seconds >= 10 ? seconds : '0' + seconds}`;
  }
  

  // If the count down is finished, write some text
  if (distance < 0) {
    clearInterval(x);
    document.getElementById("demo").innerHTML = "Refresh";
    window.location.replace("/home");
  }
}, 1000);
        
</script>
</html>
