<html>
    
<head>
    <title>read?.(today)</title>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>


<body>
    <div class="container">
        <div class="item">
            <div>
                <div class="title">read?.(today)</div>
                <form id="login" method="POST">  
                        <input class="input-field padded" id="username" type="text" placeholder="user" name="username" required>  
                        <br>
                        <input class="input-field padded" id="password" type="password" placeholder="pass" name="password" required>  
                        
                        <br>
                        <input id="remember" class="padded" type="checkbox" name="remember" checked> remember me   
                        <br>
                        <button class="padded" type="submit">login</button>   

                        <br>
                        <span style="color:rgb(255, 187, 0)" id="loginerror">
                            {% if error %}
                                {{ error }}
                            {% endif %}
                        </span>
                        <br>
                        <span><a href="/register">register</a></span>
                </form>
            </div>
        </div>
    </div>     
</body>





<script>
    document.addEventListener("keyup", () => {
            if (document.getElementById("loginerror").innerText.length > 0) {
                document.getElementById("loginerror").innerText=""
            }
        })

</script>
</html>