<html>
    
<head>
    <title>read?.(today)</title>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>


<body>
    <div class="container">
        <div class="item">
            <div>
                <div class="title">read?.(today)</div>
                <form id="login" method="POST">  
                        <input class="input-field padded" id="username" type="text" placeholder="user" name="username" required>  
                        <br>
                        <input class="input-field padded" id="password" type="password" placeholder="pass" name="password" required>  
                        
                        <br>
                        <span class="blurb">
                            this application is not super secure:<br>
                            <b>better not</b> use a password 
                            <br>
                            that is used elsewhere.
                            <br>
                            <br>
                            no password reset
                            <br>
                            ... yet.
                            <br>
                            <br>
                            only directly entered data
                            <br> 
                            is being collected / stored
                            <br>
                        </span>
                        <br>
                        <button class="padded" type="submit">register</button>   

                        <br>
                        <span style="color:rgb(255, 187, 0)" id="loginerror"></span>
                        <br>
                </form>
                <span><a href="/">back</a></span>
            </div>
        </div>
    </div>     
</body>





<script>

    function validate() {

        document.getElementById("loginerror").innerText = ''

        const user = document.getElementById('username').value
        const pass = document.getElementById('password').value

        const re = /[.,;()<>~#\/\\\"\'* %]/g
        let err = ''

        if (user.search(re) !== -1 || pass.search(re) !== -1) {
            err = 'username and/or password contain forbidden symbols'
        }

        if (user.length > 32 || pass.length > 32) {
            err = 'username and/or password too long'
        } else if ((user.length < 3 && user.length !== 0) || (pass.length < 3 && pass.length !== 0)) {
            err = 'username and/or password too short'
        }

        if (err.length !== 0) {
            document.getElementById("loginerror").innerText = err
            return
        }
    }

    document.getElementById('login').addEventListener('change', () => validate());
</script>
</html>
