<html>
    
<head>
    <title>read?.(today)</title>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>


<body>
    <iframe name="dummyframe" id="dummyframe" style="display: none;"></iframe>
    <div class="container">
        <div class="item">
            <div>
                <div class="title">read?.(today)</div>
                <form id="login" target="dummyframe">  
                        <input class="padded" id="username" type="text" placeholder="user" name="username" required>  
                        <br>
                        <input class="padded" id="password" type="password" placeholder="pass" name="password" required>  
                        
                        <br>
                        <span class="blurb">
                            This application is not super secure - <br>
                            <b>DO NOT</b> use a password that is used elsewhere.
                            <br>
                            If you forgot your password you will need to contact the dev.
                            <br>
                            Only data being stored is your login info, and timestamps of your daily click.
                            <br>
                        </span>
                        <br>
                        <button class="padded" type="submit">register</button>   

                        <br>
                        <span style="color:red" id="loginerror"></span>
                        <br>

                        <span><a href="/">back</a></span>
                </form>
            </div>
        </div>
    </div>     
</body>





<script>
    const baseUrl = "{{ api_url }}"

    let rememberMe = true
    let mainPage = "/home"
    // Get data
    let token = localStorage.getItem('readertoken');

    if (token) {
        window.location.replace(mainPage);
    } else {
        token = sessionStorage.getItem('readertoken');
        if(token) {
            window.location.replace(mainPage);
        }
    }

    function submit() {

        document.getElementById("loginerror").innerText = ''

        const user = document.getElementById('username').value
        const pass = document.getElementById('password').value

        const re = /[.,;()<>~#\/\\\"\'* %]/g
        let err = ''

        if (user.search(re) !== -1 || pass.search(re) !== -1) {
            err = 'username and/or password contains forbidden symbols'
        }

        if (user.length > 32 || pass.length > 32) {
            err = 'username and/or password too long'
        } else if (user.length < 3 || pass.length < 3) {
            err = 'username and/or password too short'
        }

        if (err.length !== 0) {
            document.getElementById("loginerror").innerText = err
            return
        }


        const creds = { "user" : user, "pass" : pass }

        fetch(`${baseUrl}/register`,  {
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(creds),
            method: 'POST',
            mode: 'cors',
            }).then((response) => {
            if (response.ok) {
                response.text().then(function(text) {
                    window.location.replace("/");
                }).catch((e) => console.log("didnt get text", e));
            } else {
                response.text().then((err) => {
                    document.getElementById("loginerror").innerText = err
                })
            }
            }).catch((e) => console.log("error", e));
    }

    document.getElementById('login').onsubmit = submit;
</script>

<style>
    .blurb {
        color: grey;
        font-size: 2vh;
    }
</style>
</html>
